// Banner

.banner {
  color: $white;
  text-align: center;
}

.h1 {
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
}

.no-limits {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.get-access {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 30px;
  justify-content: center;
}

.btn__get-access {
  grid-column: span 2;
}

.name__input,
.email__input {
  width: 270px;
  padding: 15px 18px;

  color: $white;
  font-size: 14px;

  font-family: inherit;

  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);

  border-radius: 3px;
  cursor: pointer;
}

.name__input::placeholder,
.email__input::placeholder {
  color: $white;
}

.btn--green {
  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;

  background-color: $btn-green;
  border-radius: 5px;
}
