// Intro

.intro {
  color: $white;
  text-align: center;

  @media screen and (min-width: 991px) {
    margin-top: 220px;
    padding-bottom: 250px;
  }

  @media screen and (min-width: 769px) and (max-width: 990px) {
    margin-top: 150px;
    padding-bottom: 190px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    margin-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 425px) {
    margin-top: 70px;
    padding-bottom: 45px;
  }
}

.h1 {
  font-weight: inherit;

  text-transform: uppercase;

  @media screen and (min-width: 991px) {
    font-size: 60px;
    line-height: 70px;
  }

  @media screen and (min-width: 769px) and (max-width: 990px) {
    font-size: 50px;
    line-height: 55px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 40px;
    line-height: 45px;
  }

  @media screen and (max-width: 425px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.subtitle {
  text-transform: uppercase;

  @media screen and (min-width: 991px) {
    font-size: 30px;
    line-height: 35px;
  }

  @media screen and (min-width: 769px) and (max-width: 990px) {
    font-size: 25px;
    line-height: 30px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 21px;
    line-height: 26px;
  }

  @media screen and (max-width: 425px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.descrtiption {
  @media screen and (min-width: 991px) {
    font-size: 18px;
    line-height: 21px;
  }

  @media screen and (min-width: 769px) and (max-width: 990px) {
    font-size: 16px;
    line-height: 19px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 14px;
    line-height: 16px;
  }

  @media screen and (max-width: 425px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.get-access {
  display: grid;
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 769px) {
    grid-template-columns: min-content min-content;
  }
}

.btn-get-access {
  @media screen and (min-width: 769px) {
    grid-column: span 2;
  }
}

.name-input,
.email-input {
  padding: 15px 18px;

  color: $white;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);

  border-radius: 3px;

  @media screen and (min-width: 769px) {
    min-width: 270px;
  }

  @media screen and (max-width: 768px) {
    min-width: 280px;
  }
}

.name-input::placeholder,
.email-input::placeholder {
  color: $white;
}

.btn--green {
  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  font-size: 14px;
  text-transform: uppercase;

  background-color: $green;
  border-radius: 5px;
}
