// Intro

.intro {
  padding-bottom: 200px;

  color: $white;
  text-align: center;

  @media screen and (min-width: 930px) {
    margin-top: 150px;
  }

  @media screen and (min-width: 769px) and (max-width: 929px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
}

.h1 {
  text-transform: uppercase;

  @media screen and (min-width: 1100px) {
    font-size: 60px;
    line-height: 90px;
  }

  @media screen and (min-width: 930px) and (max-width: 1099px) {
    font-size: 50px;
    line-height: 70px;
  }

  @media screen and (min-width: 769px) and (max-width: 929px) {
    font-size: 40px;
    line-height: 60px;
  }

  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 45px;
  }
}

.subtitle {
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 1100px) {
    font-size: 38px;
    line-height: 57px;
  }

  @media screen and (min-width: 930px) and (max-width: 1099px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (min-width: 769px) and (max-width: 929px) {
    font-size: 24px;
    line-height: 34px;
  }

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 27px;
  }
}

.descrtiption {
  font-size: 16px;
  line-height: 24px;

  @media screen and (min-width: 769px) {
    margin-top: 32px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 16px;
  }
}

.get-access {
  display: grid;
  gap: 30px;
  justify-content: center;
  margin-top: 16px;

  @media screen and (min-width: 769px) {
    grid-template-columns: min-content min-content;
  }
}

.btn-get-access {
  @media screen and (min-width: 769px) {
    grid-column: span 2;
  }
}

.name-input,
.email-input {
  padding: 15px 18px;

  color: $white;
  font-weight: 700;
  font-size: 14px;
  font-family: inherit;
  line-height: 16px;

  background-color: transparent;
  border: 2px solid $dark-grey;

  border-radius: 3px;

  @media screen and (min-width: 769px) {
    min-width: 270px;
  }

  @media screen and (max-width: 768px) {
    min-width: 374px;
  }
}

.name-input::placeholder,
.email-input::placeholder {
  color: $white;
}

.btn-green {
  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  font-size: 14px;
  font-family: $font-arial;
  text-transform: uppercase;

  background-color: $green;
  border-radius: 5px;
}
