// menu

.menu {
  align-self: center;
  justify-self: end;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, min-content);

  column-gap: 36px;
}

.menu__link {
  display: block;

  color: $secondary-grey;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.menu__link--current {
  color: $white;
}
