// Popular tracks

.popular-tracks {
  display: flex;
  flex-wrap: wrap;

  font-size: 13px;
  line-height: 19px;

  row-gap: 25px;
}

.track {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto 1fr max-content;

  width: 50%;
  min-width: 374px;
}

.track-image {
  width: 55px;
  height: 55px;
}

.titles {
  align-self: center;

  color: $grey;
}

.track-name {
  color: $white;
  font-weight: bold;
}

.track-time {
  align-self: center;

  color: $grey;

  text-decoration: none;

  @include media(">=808px") {
    margin-right: 49px;
  }
}
//
