// Artist

.artist {
  padding-bottom: 224px;

  color: $white;

  @include media(">laptop") {
    margin-top: 200px;
  }

  @include media("<=laptop") {
    margin-top: 55px;
  }
}

.background-artist {
  background-image: url("../images/MortenHarket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.artist-subtitle {
  font-size: 16px;
  line-height: 24px;
}

.wrap-buttons {
  display: grid;

  margin-top: 48px;

  @include media(">tablet") {
    grid-column-gap: 24px;
    grid-template-columns: max-content max-content;
  }

  @include media("<=tablet") {
    grid-row-gap: 24px;
    grid-template-rows: max-content max-content;
  }
}

.btn-artist {
  width: 200px;
  padding: 21px 31px;
}

.btn-artist-style {
  color: $white;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 5px;
}

.btn-artist-purple {
  background-color: $purple;
}

.btn-artist-brown {
  background-color: $brown;
}

.btn-artist-image {
  width: 20px;
  height: 20px;
  margin-right: 16px;

  vertical-align: bottom;
}
//
