// Header

.header {
  display: grid;

  @include media(">=laptop") {

    grid-column-gap: 88px;
    grid-template-columns: max-content 1fr max-content;
  }

  @include media("<laptop") {

    grid-row-gap: 18px;
    grid-template-rows: max-content max-content max-content;
  }
}

// Logo

.logo {
  display: grid;
  grid-column-gap: 16px;

  grid-template-columns: max-content max-content;

  align-self: center;

  text-decoration: none;
}

.logo-image {
  width: 24px;
  height: 24px;
}

.logo-name {
  align-self: center;

  color: $white;

  font-weight: 700;
  font-size: 11px;

  text-transform: uppercase;
}

// Menu

.header-menu {
  @include media(">=laptop") {
    align-self: center;
  }
}

.header-menu-list {
  display: grid;

  list-style: none;

  @include media(">=laptop") {

    grid-column-gap: 24px;
    grid-template-columns: repeat(4, min-content);
  }

  @include media("<laptop") {
    grid-row-gap: 3px;
    grid-template-rows: repeat(4, min-content);
  }
}

.header-menu-link {
  color: $grey;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s;

  &:hover,
  &-active {
    color: $white;
  }

  &-disable {
    color: $dark-grey;
  }
}

// Search

.search {
  width: 100%;

  @include media(">=laptop") {
    min-width: 248px;
  }

  @include media("<laptop") {
    max-width: 374px;
  }
}

.search-input {
  width: 100%;
  padding: 5px 10px;
}

.search-input::placeholder {
  text-transform: uppercase;
}

.search-input-dark {
  color: #757575;
  font-size: 13px;
  font-family: $font-arial;

  background-color: $dark;
  border: none;

  border-radius: 50px;
  cursor: pointer;
}
