// Mobile-app

.mobile-app {
  display: flex;

  @include media("<=laptop") {
    flex-direction: column;
    grid-row-gap: 16px;
  }
}

.mobile-app-content {
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: repeat(3, min-content);

  @include media("<=laptop") {
    order: 2;
  }
}

.mobile-app-text {
  color: $dark-grey;
  font-size: 16px;
  line-height: 24px;
}

.btn-mobile-app {
  padding: 17px 40px;
}

.btn-mobile-app-brown {
  color: $white;
  font-size: 13px;
  line-height: 19px;
  text-decoration: none;

  background-color: $brown;
  border-radius: 32px;
}

.mobile-app-image {
  display: block;
  margin: 0 auto;
}
//
