// Popular tracks

.popular-tracks {
  display: grid;

  grid-row-gap: 25px;

  font-size: 13px;
  line-height: 19px;

  @include media(">808px") {
    grid-template-columns: repeat(2, auto);
  }
}

.wrap-tracks {
  display: grid;
  grid-row-gap: 25px;
  min-width: 374px;

  @include media("<=808px") {
    max-width: 374px;
  }
}

.track {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto 1fr max-content;

  text-decoration: none;
}

.track-image {
  width: 55px;
  height: 55px;
}

.track-titles {
  align-self: center;

  color: $grey;
}

.track-name {
  color: $white;
  font-weight: bold;
}

.track-time {
  align-self: center;

  color: $grey;

  text-decoration: none;

  @include media(">=808px") {
    margin-right: 49px;
  }
}
//
