// Subscribes

.subscribes-plans {
  display: grid;

  justify-content: center;

  @include media(">=1260px") {
    grid-column-gap: 39px;
    grid-template-columns: repeat(3, max-content);
  }

  @include media(">=847px", "<1260px") {
    grid-gap: 50px;
    grid-template-columns: repeat(2, max-content);
  }

  @include media("<847px") {
    grid-row-gap: 50px;
  }
}

.plan-item-premium {
  @include media(">=847px", "<1260px") {
    grid-column: 1 / span 2;
    justify-self: center;
  }
}

.plan-item-background-free {
  background-image: url("../images/subscribe_1.png");
}

.plan-item-background-standart {
  background-image: url("../images/subscribe_2.png");
}

.plan-item-background-premium {
  background-image: url("../images/subscribe_3.png");
}

.plan-item-background {
  background-repeat: no-repeat;
  background-position: center;

  @include media(">=853px") {
    background-size: cover;
  }

  @include media("<853px") {
    background-size: contain;
  }
}

.plan-item {
  min-width: 374px;
  max-width: 374px;
  padding: 18px 24px 65px;
}

.item-title {
  text-transform: uppercase;

  @include media(">=853px") {
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
  }

  @include media("<853px") {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.price-num {
  font-size: 64px;
  line-height: 96px;
}

.price-currency {
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
}

.btn-subscribes {
  display: block;
  margin-top: 24px;
  padding: 20px 0 20px;
}

.btn-white {
  color: $white;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
}

.item-description {
  font-size: 13px;
  line-height: 19px;
}

.subscribes-description {
  font-size: 16px;
  line-height: 24px;
}
//
