// atomic css

.pt25 {
  padding-top: 25px;
}

.pb250 {
  padding-bottom: 250px;
}

.mt220 {
  margin-top: 220px;
}

.mt45 {
  margin-top: 45px;
}

.mt40 {
  margin-top: 40px;
}

.mt10 {
  margin-top: 10px;
}
