// atomic css

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.fw700 {
  font-weight: 700;
}

.list-none {
  list-style: none;
}

.p0 {
  padding: 0;
}

.pt25 {
  padding-top: 25px;
}

.pt60 {
  padding-top: 60px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb100 {
  padding-bottom: 100px;
}

.m0 {
  margin: 0;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}
