// Common

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;

  font-family: $font-roboto;
  line-height: 1;

  background-color: $black;
}

.container {
  max-width: 1440px;

  margin: 0 auto;

  @include media("screen", ">=large-desktop") {
    padding: 0 120px;
  }

  @include media("screen", ">tablet", "<large-desktop") {
    padding: 0 30px;
  }

  @include media("screen", "<=tablet") {
    padding: 0 20px;
  }
}

.main-title {
  color: $white;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}
