// Common

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;

  font-family: $font-roboto;
  line-height: 1;

  background-color: $black;
}

.container {
  max-width: 1440px;

  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    padding: 0 120px;
  }

  @media screen and (min-width: 769px) and (max-width: 1439px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}
