// Variables

$white: #fff;
$dark: #08020d;
$secondary-grey: #808080; // nav
$grey: #8c8c8c; // main text
$light-grey: #cacaca;
$gradient: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
$green: #34c176;

$font-roboto: "Roboto", sans-serif;

// make vars for font size and media
// 1280px
// 1024px
// 768px
// 425px
// 375px
// 320px
