// Variables

$white: #fff;
$dark: #08020d;
$secondary-grey: #808080; // nav
$grey: #8c8c8c; // main text
$light-grey: #cacaca;
$gradient: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

$font-roboto: "Roboto-Regular"; // sans serif
