// Variables

$white: #fff;
$black: #08020d;
$grey: #e0e0e0;
$dark-grey: #cacaca;
$dark: #3c3b3d;
$orange: #f89202;
$brown: #95390c;
$purple: #5328a1;
$gradient: linear-gradient(265.08deg, $brown 14.9%, $purple 68.95%);
$green: #34c176;

$font-roboto: "Roboto", sans-serif;
$font-arial: "Arial";

// 1440 max
// 414px min

$breakpoints: (
  tablet: 768px,
  laptop: 930px,
  desktop: 1100px,
  large-desktop: 1440px
);
