@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular/Roboto-Regular.woff") format("woff");
  unicode-range: U+0020-2044; }

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("./fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("./fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("./fonts/Roboto-Bold/Roboto-Bold.woff") format("woff");
  unicode-range: U+0020-2044; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.d-flex {
  display: flex; }

.fw700 {
  font-weight: 700; }

.p0 {
  padding: 0; }

.pt25 {
  padding-top: 25px; }

.pb250 {
  padding-bottom: 250px; }

.m0 {
  margin: 0; }

.mt10 {
  margin-top: 10px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt220 {
  margin-top: 220px; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  background-color: #08020d; }

.container {
  max-width: 1280px;
  margin: 0 auto; }
  @media screen and (min-width: 991px) {
    .container {
      padding: 0 40px; } }
  @media screen and (max-width: 990px) {
    .container {
      padding: 0 20px; } }

.input,
.btn {
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer; }

.background-intro {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  display: grid; }
  @media screen and (min-width: 991px) {
    .header {
      grid-template-columns: max-content 1fr 280px;
      column-gap: 100px; } }
  @media screen and (max-width: 990px) {
    .header {
      grid-template-rows: max-content max-content 1fr;
      row-gap: 20px; } }

.logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-self: center;
  text-decoration: none;
  column-gap: 4px; }

.logo__image {
  width: 19px;
  height: 17px; }

.logo__name {
  align-self: center;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase; }

@media screen and (min-width: 991px) {
  .menu {
    align-self: center; } }

@media screen and (max-width: 990px) {
  .menu {
    order: 2; } }

.menu__list {
  display: grid;
  list-style: none; }
  @media screen and (min-width: 991px) {
    .menu__list {
      grid-template-columns: repeat(4, min-content);
      column-gap: 36px; } }
  @media screen and (max-width: 990px) {
    .menu__list {
      grid-template-rows: repeat(4, min-content);
      row-gap: 10px; } }

.menu__link {
  color: #808080;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none; }
  .menu__link:hover {
    color: #fff; }

.search {
  width: 100%;
  max-width: 280px; }

.search__input {
  width: 100%;
  padding: 5px 14px;
  color: #808080;
  background-color: #3c3b3d;
  border-radius: 50px; }

.search__input::placeholder {
  text-transform: uppercase; }

.intro {
  color: #fff;
  text-align: center; }

.h1 {
  font-weight: inherit;
  text-transform: uppercase; }
  @media screen and (min-width: 991px) {
    .h1 {
      font-size: 60px;
      line-height: 70px; } }
  @media screen and (max-width: 990px) {
    .h1 {
      font-size: 30px;
      line-height: 35px; } }

.subtitle {
  text-transform: uppercase; }
  @media screen and (min-width: 991px) {
    .subtitle {
      font-size: 30px;
      line-height: 35px; } }
  @media screen and (max-width: 990px) {
    .subtitle {
      font-size: 18px;
      line-height: 21px; } }

@media screen and (min-width: 991px) {
  .descrtiption {
    font-size: 18px;
    line-height: 21px; } }

@media screen and (max-width: 990px) {
  .descrtiption {
    font-size: 12px;
    line-height: 14px; } }

.get-access {
  display: grid;
  gap: 30px;
  justify-content: center; }
  @media screen and (min-width: 769px) {
    .get-access {
      grid-template-columns: min-content min-content; } }

@media screen and (min-width: 769px) {
  .get-access__btn {
    grid-column: span 2; } }

.name-input,
.email-input {
  padding: 15px 18px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px; }
  @media screen and (min-width: 769px) {
    .name-input,
    .email-input {
      min-width: 270px; } }
  @media screen and (max-width: 768px) {
    .name-input,
    .email-input {
      min-width: 280px; } }

.name-input::placeholder,
.email-input::placeholder {
  color: #fff; }

.btn--green {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #34c176;
  border-radius: 5px; }
