@font-face {
  font-weight: 400;
  font-family: "Roboto-Regular";
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("./fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("./fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular/Roboto-Regular.woff") format("woff");
  unicode-range: U+0020-2044; }

@font-face {
  font-weight: 700;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-stretch: normal;
  src: url("./fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("./fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("./fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("./fonts/Roboto-Bold/Roboto-Bold.woff") format("woff");
  unicode-range: U+0020-2044; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.pt25 {
  padding-top: 25px; }

.pb250 {
  padding-bottom: 250px; }

.mt220 {
  margin-top: 220px; }

.mt45 {
  margin-top: 45px; }

.mt40 {
  margin-top: 40px; }

.mt10 {
  margin-top: 10px; }

.page {
  font-family: "Roboto-Regular";
  line-height: 1; }

.page__body {
  margin: 0;
  background-color: #08020d; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px; }

p {
  margin: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3 {
  margin: 0; }

.btn {
  padding: 0;
  border: none;
  cursor: pointer; }

.background-image {
  font-family: "Roboto-Bold";
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  display: grid;
  grid-template-columns: max-content auto 50%; }

.logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-self: center;
  text-decoration: none;
  column-gap: 4px; }

.logo__image {
  width: 19px;
  height: 17px; }

.logo__name {
  align-self: center;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase; }

.menu {
  align-self: center;
  justify-self: end; }

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 36px; }

.menu__link {
  display: block;
  color: #808080;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none; }
  .menu__link:hover {
    color: #fff; }

.menu__link--current {
  color: #fff; }

.search {
  justify-self: end;
  width: 100%;
  max-width: 280px; }

.search__input {
  width: 100%;
  padding: 5px 14px;
  color: #808080;
  font-family: inherit;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  cursor: pointer; }

.search__input::placeholder {
  text-transform: uppercase; }

.banner {
  color: #fff;
  text-align: center; }

.h1 {
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase; }

.no-limits {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase; }

.get-access {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 30px;
  justify-content: center; }

.btn__get-access {
  grid-column: span 2; }

.name__input,
.email__input {
  width: 270px;
  padding: 15px 18px;
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer; }

.name__input::placeholder,
.email__input::placeholder {
  color: #fff; }

.btn--green {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #34c176;
  border-radius: 5px; }
